.button {
  color: var(--white-immutable);
  background-color: var(--sky);
  border-radius: 4px;
  display: block;
  width: 120px;
  text-align: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    width: 180px;
    padding: 12px;
  }
}
