.list {
  list-style: none;
}

.item {
  background-color: var(--navy-l);
  padding: 8px 10px;
  border-radius: 4px;
  &:not(:first-of-type) {
    margin-top: 20px;
  }
  a {
    color: var(--gray);
    text-decoration: none;
    img {
      margin-right: 8px;
    }
  }
}

.title {
  font-size: 12px;
}

.itemIn {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.time {
  font-size: 12px;
  font-family: var(--en);
}
