@import "src/styles/variables.scss";

.text {
  font-size: 14px;
  line-height: 1.8;
  margin-top: 15px;
  letter-spacing: 0.05em;
  @include mq(md) {
    font-size: 14px;
  }
}

.content {
  padding-top: 40px;
}

.section + .section {
  margin-top: 60px;
}
