@import "src/styles/variables.scss";

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 15px 20px;
  border-bottom: 1px solid var(--border);
  background-color: var(--bg);
}

.headerIn {
  display: flex;
  align-items: center;
  width: 100%;
}

.title {
  color: var(--white);
  font-size: 16px;
  font-family: var(--en);
  letter-spacing: 0.05em;
}
