.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  padding-top: 40px;
  padding-bottom: 40px;
}
