@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  // カラー設定
  --white: #ffffff;
  --black: #000000;
  --navy-d: #101729;
  --navy-l: #1e293b;
  --gray: #94a3b8;
  --link: #3f83f8;

  // フォントファミリー
  --ja: "Noto Sans JP", "游ゴシック体", "Yu Gothic", YuGothic,
    "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo,
    sans-serif;
  --en: "Poppins", sans-serif;
}

body {
  font-family: var(--ja);
  font-size: 14px;
  color: var(--gray);
  background-color: var(--navy-d);
  line-height: 1.5;
  letter-spacing: 0.05em;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--gray);
}
