@import "src/styles/variables.scss";

.list {
  display: grid;
  margin-top: 40px;
  gap: 30px;
  @include mq(md) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  & > li {
    border: 1px solid var(--border);
    width: 100%;
    border-radius: 24px;
    overflow: hidden;
  }
}

.title {
  font-size: 16px;
  color: var(--white);
}

.picture {
  position: relative;
  width: 100%;
  & img {
    object-position: top;
  }
}

.block {
  padding: 16px;
}

.tag {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 24px;
  & li {
    color: var(--white-immutable);
    background-color: var(--tag);
    font-size: 12px;
    border-radius: 4px;
    padding: 2px 8px;
  }
}
