.list {
  margin-top: 40px;
  & > li {
    background-color: var(--gray);
    box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 10%);
    width: 100%;
    border-radius: 24px;
    overflow: hidden;
    &:not(:first-of-type) {
      margin-top: 30px;
    }
  }
}

.title {
  font-size: 14px;
  color: var(--white);
}

.picture {
  position: relative;
  width: 100%;
}

.block {
  padding: 16px;
}

.tag {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 24px;
  & li {
    background-color: var(--gray-nl);
    font-size: 12px;
    border-radius: 4px;
    padding: 2px 8px;
  }
}
