.picture {
  width: 140px;
  border-radius: 24px;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    width: 240px;
  }
}

.text {
  line-height: 1.8;
  margin-top: 20px;
  letter-spacing: 0.05em;
}

.section {
  margin-top: 20px;
  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
}

.skill {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
  & li {
    font-size: 12px;
    background-color: var(--gray-nl);
    border-radius: 4px;
    padding: 2px 8px;
    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
  }
}
