@import "src/styles/variables.scss";

.picture {
  width: 140px;
  border-radius: 24px;
  overflow: hidden;
  @include mq(md) {
    width: 240px;
  }
}

.text {
  line-height: 1.8;
  margin-top: 20px;
  letter-spacing: 0.05em;
}

.section {
  margin-top: 20px;
  @include mq(md) {
    margin-top: 40px;
  }
}

.skill {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
  & li {
    font-size: 12px;
    color: var(--white-immutable);
    background-color: var(--tag);
    border-radius: 4px;
    padding: 3px 10px;
    @include mq(md) {
      font-size: 14px;
    }
  }
}
