@import "src/styles/variables.scss";

.item {
  &:not(:first-of-type) {
    margin-top: 20px;
  }
}

.link {
  border-radius: 4px;
  display: block;
  margin-top: 5px;
  background-color: var(--gray);
  padding: 12px;
  color: var(--activity-text);
}

.title {
  display: flex;
  align-items: center;
  width: 100%;
  letter-spacing: 0.05em;
  &::before {
    content: "✍";
    font-size: 20px;
    margin-right: 10px;
  }
}

.time {
  font-family: var(--en);
  margin-top: 10px;
  display: block;
  color: var(--activity-text);
}

.text {
  font-size: 14px;
  line-height: 1.8;
  margin-top: 15px;
  letter-spacing: 0.05em;
  @include mq(md) {
    font-size: 14px;
  }
}

.input {
  width: 220px;
  background-color: var(--gray);
  border: 1px solid var(--gray);
  color: var(--default);
  padding: 8px;
  border-radius: 4px;
  background-image: url(../../../public/img/common/icon-search.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center right 10px;
  @include mq(md) {
    width: 280px;
  }
  &::placeholder {
    color: var(--default);
  }

  &:focus {
    border: 1px solid var(--gray);
    box-shadow: none;
    outline: none;
  }
}

.reset {
  margin-left: 15px;
  color: var(--white);
  padding: 8px;
  background-color: var(--gray);
  border-radius: 4px;
  letter-spacing: 0.05em;
}
