@import "src/styles/variables.scss";

.item {
  &:not(:first-of-type) {
    margin-top: 20px;
  }
}

.link {
  border-radius: 4px;
  display: block;
  margin-top: 5px;
  background-color: var(--gray);
  padding: 12px;
  color: var(--activity-text);
}

.title {
  display: flex;
  align-items: center;
  width: 100%;
  letter-spacing: 0.05em;
  &::before {
    content: "✍";
    font-size: 20px;
    margin-right: 10px;
  }
}

.time {
  font-family: var(--en);
  margin-top: 10px;
  display: block;
  color: var(--activity-text);
}

.text {
  font-size: 14px;
  line-height: 1.8;
  margin-top: 15px;
  letter-spacing: 0.05em;
  @include mq(md) {
    font-size: 14px;
  }
}
