.item {
  &:not(:first-of-type) {
    margin-top: 20px;
  }
}

.link {
  border-radius: 4px;
  display: block;
  margin-top: 5px;
  background-color: var(--gray);
  padding: 12px;
}

.linkIn {
  display: flex;
  align-items: center;
  color: var(--activity-text);
  width: 100%;
  letter-spacing: 0.05em;
}

.logo {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.time {
  font-family: var(--en);
  margin-top: 10px;
  display: block;
  color: var(--activity-text);
}
