@import "src/styles/variables.scss";

.list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 15px;
  @include mq(md) {
    gap: 20px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.item {
  display: flex;
  aspect-ratio: 1 /1;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
}

.zenn {
  background-color: var(--zenn);
  & span {
    width: 60%;
  }
}

.twitter {
  background-color: var(--twitter);
  & span {
    width: 40%;
  }
}

.github {
  background-color: var(--github);
  & span {
    width: 40%;
  }
}

.codepen {
  background-color: var(--white-immutable);
  & span {
    width: 40%;
  }
}

.works {
  color: var(--white-immutable);
  background-color: var(--work);
}

.activity {
  color: var(--white-immutable);
  background-color: var(--activity);
}

.about {
  color: var(--white-immutable);
  background-color: var(--about);
}

.blog {
  color: var(--white-immutable);
  background-color: var(--blog);
}

.itemText {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.link {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.logo {
  position: relative;
  display: flex;
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
}
