@import "src/styles/variables.scss";

.title {
  font-size: 24px;
  font-weight: 500;
  font-family: var(--en);
  letter-spacing: 0.05em;
  color: var(--white);
  @include mq(md) {
    font-size: 28px;
  }
}
